# SPDX-License-Identifier: GPL-2.0
menuconfig WIFI_RTK_CFG80211
    tristate "CFG80211 WiFi drivers"

if WIFI_RTK_CFG80211

source "drivers/rtkdrivers/net/wireless/cfg80211_wifi/rtl8730a/Kconfig"
source "drivers/rtkdrivers/net/wireless/cfg80211_wifi/rtl8730e/Kconfig"

endif
