# RLX Linux Kernel Configuration
#
# Tony Wu (tonywu@realtek.com)
# Dec. 07, 2008
#

source "formosa/config.top"
source "formosa/config.soc"

#
# RISCV
#
config SHEIPA
	bool
	default y
	select SMP if SOC_ENABLE_SMP

#
# CPU
#
config CPU_TR9
	bool
	default y if SOC_CPU_TR9
	select ARCH_RV32I
	select REALTEK_PLIC if SOC_ENABLE_PLIC
	select REALTEK_CLIC if SOC_ENABLE_CLIC
	select SYS_SUPPORTS_SMP if SOC_ENABLE_SMP

#
# IRQ
#
config REALTEK_PLIC
	bool
	default n

config REALTEK_CLIC
	bool
	default n
	select RISCV_CLIC

config RISCV_CLIC
	bool
	default n
