menuconfig OTP_RTK_AMEBA_CORE
	tristate "OTP"
	help
	  Driver for Realtek OTP core

if OTP_RTK_AMEBA_CORE
config OTP_RTK_AMEBA_CDEV
	tristate "OTP for userspace"
	help
		This enables the OTP for userspace.
endif
