#include "../rtl8730e-drm.dtsi"
#include "../rtl8730e-captouch.dtsi"

/ {
	sue {
		carrierboard = "streamkit210";
		daughterboard = "dabfm";
	};

	aliases {
		i2c1 = &i2c1_gpio;
	};

	reserved-memory {
		// Reserve 6 MiB for graphics, this is enough do drive a
		// 480x800 32-bpp display with double-buffering using DRM.
		// There is probably some more optimizations to be done,
		// but for now let's keep it like that.
		mem_drm_reserved: drm_buffer@0x64000000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x64000000 0x600000>;
		};
	};

	i2c1_gpio: i2c1_gpio {
		compatible = "i2c-gpio";

		#address-cells = <1>;
		#size-cells = <0>;

		pinctrl-names = "default";
		pinctrl-0 = <&i2c1_gpio_pins>;

		sda-gpios = <&gpiob 12 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpiob 13 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		i2c-gpio,delay-us = <2>;

		status = "okay";
	};

	lcd_backlight: lcd_backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 3 5000000 0>;

		/*
		 * Values taken from `imx7d-sue-streamkitprime-common-0.dtsi`.
		 */
		brightness-levels = <0 3 5 8 10 13 15 18 20 23 26 28 31 33 36 38 41 43 46 48 51 54 56 59 61 64 66 69 71 74
			77 79 82 84 87 89 92 94 97 99 102 105 107 110 112 115 117 120 122 125 127 130 133 135 138 140 143 145 148 150
			153 156 158 161 163 166 168 171 173 176 179 181 184 186 189 191 194 196 199 201 204 207 209 212 214 217 219 222 224 227
			229 232 235 237 240 242 245 247 250 252 255>;
		default-brightness-level = <100>;

		status = "okay";
	};

	sue-hsmp {
		compatible = "sue,hsmp-rtk-mcu-ipc";
		status = "okay";

		state-controller {
			compatible = "sue,hsmp-state-controller";
			status = "okay";
		};

		gpio_hsmp: gpio {
			gpio-controller;
			#gpio-cells = <2>;
			compatible = "sue,hsmp-gpio";
			status = "okay";
		};
	};

	amp_regulator: amp-regulator {
		compatible = "regulator-fixed";
		regulator-name = "amp-regulator";
		gpio = <&gpioa 16 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

&captouch {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&captouch_pins>;
	pinctrl-1 = <&captouch_pins>;

	// Disable the ETC (environmental tracking and calibration) as it performs
	// poorly if the device is not grounded and connected to an AC outlet.
	disable-etc;

	// The values are resonably good defaults for StreamKit210, final
	// products will have a calibration done.
	rtk,ctc-diffthr = <500>, <500>, <500>, <500>, <500>, <500>, <500>, <500>, <500>;
	rtk,ctc-mbias = <13>, <12>, <13>, <13>, <14>, <13>, <10>, <12>, <11>;
	rtk,ctc-nnoise = <200>, <200>, <200>, <200>, <200>, <200>, <200>, <200>, <200>;
	rtk,ctc-pnoise = <200>, <200>, <200>, <200>, <200>, <200>, <200>, <200>, <200>;
	rtk,ctc-ch-status = <1>, <1>, <1>, <1>, <1>, <1>, <1>, <1>, <1>;
	rtk,ctc-keycodes = <KEY_DOWN>,
			   <KEY_SLEEP>,
			   <KEY_PREVIOUSSONG>,
			   <KEY_VOLUMEDOWN>,
			   <KEY_PLAYPAUSE>,
			   <KEY_UP>,
			   <KEY_VOLUMEUP>,
			   <KEY_NEXTSONG>,
			   <KEY_MUTE>;
	status = "okay";
};

&drm {
	status = "okay";
};

&dsi {
	status = "okay";
};

&timer8 {
	status = "okay";
};

&pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&lcd_backlight_pin>;
	status = "okay";
};

&rtkpanel {
	compatible = "kingtech,pv04005td25e";
	pinctrl-names = "default";
	pinctrl-0 = <&lcd_rst_n_pin>;
	mipi-gpios = <&gpiob 31 GPIO_ACTIVE_LOW>;
	backlight = <&lcd_backlight>;
	status = "okay";
};

&codec {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&dmic_pins_stream210>;

	enable-dac-asrc;
};

&sound {
	amp-supply = <&amp_regulator>;
	amp_mute-gpio = <&gpio_hsmp 0 GPIO_ACTIVE_LOW>;
	hp_mute-gpio = <&gpio_hsmp 1 GPIO_ACTIVE_LOW>;
};

&ledc {
	pinctrl-names = "default";
	pinctrl-0 = <&ledc_pin>;
	rtk,led-nums = <5>;
	rtk,output-RGB-mode = <0>;

	// Timings for SKC6812 RGB LEDs
	rtk,data-tx-time0h = <12>;	// ~300 ns
	rtk,data-tx-time0l = <36>;	// ~900 ns
	rtk,data-tx-time1h = <30>;	// ~750 ns
	rtk,data-tx-time1l = <12>;	// ~300 ns
	rtk,refresh-time = <8000>;	// ~200 us
	status = "okay";
};

&pinctrl {
	i2c1_gpio_pins: i2c1_gpios {
		pins {
			pinmux = <REALTEK_PINMUX('B', 12, GPIO)>, // I2C1_SDA
					<REALTEK_PINMUX('B', 13, GPIO)>;  // I2C1_SCL
			bias-pull-up;
		};
	};

	lcd_backlight_pin: lcd_backlight_pin@0 {
		pins {
			pinmux = <REALTEK_PINMUX('B', 30, PWM)>; // HS_PWM3
			bias-pull-up;
			slew-rate = <0>;
			drive-strength = <0>;
		};
	};

	lcd_rst_n_pin: lcd_rst_n_pin {
		pins {
			pinmux = <REALTEK_PINMUX('B', 31, GPIO)>;
			bias-pull-down;
		};
	};

	ledc_pin: ledc_pin {
		pins {
			pinmux = <REALTEK_PINMUX('B', 27, LEDC)>;
			bias-pull-up;
		};
	};

	spi1_dabfm_pins: spi1_dabfm_pins {
		pins {
			pinmux = <REALTEK_PINMUX('A', 12, GPIO)>,	// SPI1_CS
				 <REALTEK_PINMUX('A', 11, SPI)>,	// SPI1_CLK
				 <REALTEK_PINMUX('A', 10, SPI)>,	// SPI1_MISO
				 <REALTEK_PINMUX('A', 9, SPI)>;		// SPI1_MOSI
		};
	};
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_dabfm_pins>;
	status = "okay";

	// This is needed otherwise the Realtek driver will register an `spidev`
	// node for us implicitly thus creating a chip-select conflict.
	rtk,spi-for-kernel = <1>;

	rtk,spi-slave-mode = <0>;
	rtk,spi-cs-gpios = <&gpioa 12 0>;

	#address-cells = <1>;
	#size-cells = <0>;

	dabfm: dabfm@0 {
		status = "okay";
		reg = <0>;
		compatible = "sue,dabfm";
		spi-max-frequency = <10000000>;
	};
};

&sport2 {
	rtk,sport-multi-io = <1>;
	rtk,sport-mode = <1>;
	rtk,sport-mclk-multiplier = <256>;
};

&sport3 {
	rtk,sport-multi-io = <1>;
	rtk,sport-mode = <0>;
	rtk,sport-mclk-multiplier = <0>;
};
